$padding-h: 1rem;
$padding-v: 1rem;
$padding-default: 0.75rem 1rem;
;
$rounded-corners: 0.5rem;
$pill: 3rem;
$section-margin: 1.5rem;
$outline: #999;
$highlight: powderblue;

@mixin margin-center-h {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin button {
    margin-top: $section-margin;
    padding: 0.5rem 1.5rem;
    border-radius: $pill;
    border: 2px solid $outline;
    font-size: 1rem;
    font-weight: 600;

    &:hover,
    &:focus {
        background-color: purple;
        color: white;
        cursor: pointer;
    }
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

// Standard margin for all sections in main
main>section:first-of-type,
main>div:first-of-type,
main>section+*,
main>div {
    margin-top: $section-margin;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    word-wrap: break-word;
}

h2 {
    font-weight: 500;
}

p {
    margin-top: 1rem;
    line-height: 1.5;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;

    main {
        padding: 1rem $padding-h;
        flex-grow: 1;
    }

    footer {
        padding: 1rem $padding-h;
        padding-top: 0;
        text-align: center;
    }
}

#nav-main {
    padding: $padding-v $padding-h;

    ul {
        display: flex;
        list-style: none;
        align-items: center;
        ;

        li {
            display: inline;
            margin-right: 1rem;
        }

        #logout {
            margin-left: auto;

            button {
                @include button;
                padding: 0.2rem 0.5rem;
                border-radius: $pill;
                border: 1.5px solid $outline;
                font-size: 0.9rem;
                margin: 0;
            }
        }
    }
}

.button-action {
    @include button;
    @include margin-center-h;
}

form {
    fieldset {
        padding: $padding-v $padding-h;

        label:not(label:first-of-type) {
            display: block;
            margin-top: 1rem;
        }

        input {
            margin-top: 0.25rem;
        }
    }

    input {
        display: block;
        border-radius: $pill;
        border: 1px solid $outline;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        width: 100%;
    }

    button {
        @include button;
    }
}

#form-errors {
    color: red;
    margin-top: 1em;

    ul {
        margin-left: 1rem;
    }
}

.patient {
    padding: $padding-default;
    border: 1px solid $outline;
    border-radius: $rounded-corners;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, auto);
    column-gap: 1rem;
    align-items: center;

    .icon {
        grid-area: 1 / 1 / span 3 / span 1;
        justify-self: center;
        align-self: center;
        font-size: 1.5rem;
    }

    .name {
        font-size: 1.1rem;
    }

    .shift {
        color: #555;
    }

    &:hover {
        background-color: $highlight;
        cursor: pointer;
    }

    &.small {
        padding: 0.5rem;
        display: inline-block;
        margin-top: 0;

        &:hover::after {
            content: " => switch patient";
        }
    }
}

h3~div.patient {
    margin-top: 0;

    &+* {
        margin-top: 1rem;
    }
}

.journey-options {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    justify-items: center;

    >* {
        border: 1px solid $outline;
        padding: $padding-default;

        &:hover {
            background-color: $highlight;
        }

        &:first-child {
            text-align: right;
        }

        &:last-child {
            text-align: left;
        }
    }
}