$outline: #999;
$highlight: powderblue;
$raisin-black: #201a23ff;
$royal-purple: #79589fff;
$royal-purple-light: #f5ecff;
$antiflash-white: #eef1f6ff;
$white: #fefffeff;
$auburn: #9e2b25ff;
$asparagus: #77ad78ff;

:root {
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 1.3889)), 1.05rem);
    min-height: 0vw;
}

html,
body {
    height: 100%;
}

#root {
    height: 100%;

    main {
        flex-grow: 1;
        padding-top: 1rem;

        // Standard margin for all sections in main preceded by a sibling
        &>section:first-of-type,
        &>section+* {
            margin-top: 1rem;
        }
    }

    footer {
        p {
            text-align: center;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    word-wrap: break-word;
    color: $raisin-black;
}

a.button-link {
    color: inherit;
    text-decoration: none;
}

form {
    .form-errors {
        color: $auburn;
        background-color: #ffe7e6;
        border-radius: 0.25rem;
    }
}

fieldset {
    legend {
        font-weight: bold;
    }

    border: 1px solid #eee;
    border-radius: 0.5rem;
    padding: 0 1rem;
}

.modal {

    form,
    fieldset {
        width: 100%;
    }
}

#calendar {
    padding-top: 1rem;

    .fc-prev-button,
    .fc-next-button {
        background-color: $royal-purple;
        border-color: $royal-purple;
    }

    .fc-today-button {
        background-color: $raisin-black;
        border-color: $raisin-black;
    }

    .fc-toggleView-button {
        background-color: $royal-purple;
        border-color: $royal-purple;
    }

    .fc-day-today {
        background-color: $royal-purple-light;
    }

    .fc-daygrid {
        background-color: white;
    }

    .fc-daygrid-day:hover {
        cursor: pointer;
    }
}

.MuiDrawer-root {
    form {
        flex-grow: 1;
    }
}

.incident {

    .delete-incident,
    .incident-icon {
        transition: opacity 100ms ease-out;
        opacity: 50%;
    }

    &:hover {

        .delete-incident,
        .incident-icon {
            opacity: 100%;
        }
    }
}

.MuiBreadcrumbs-li a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@keyframes uploadingSpin {
    from {
        transform: rotate(0deg) scaleX(-1);
    }

    to {
        transform: rotate(360deg) scaleX(-1);
    }
}